RewriteEngine On

# local server
# RewriteBase /~davidtrussler/davidtrussler/

# remote server
RewriteBase http://davidtrussler.net/

RewriteRule ^home/?$ index.php
RewriteRule ^web/?$ portfolio.php 
# RewriteRule ^music/?$ music.php 
RewriteRule ^sound/?$ sound.php 
# RewriteRule ^sound/music/?$ sound.php?section=music 
# RewriteRule ^sound/([A-Za-z-]+)/?$ sound?section=$1
RewriteRule ^contact/?$ contact.php 
RewriteRule ^blog/(.*[^/])/?$ blog_main.php?postId=$1
RewriteRule ^blog/?$ blog_main.php

# www.dracos.co.uk/code/apache-rewrite-problem/
# http://www.addedbytes.com/for-beginners/url-rewriting-for-beginners/